/decoded
/encoded
/ffmpeg
/idle
/samplecpu
/csv
/metrics

/input/*
/vvdec
/vvenc
/vmaf
/SVT-AV1
vvencapp
vvdecapp
vmafrun
SvtAv1DecApp
SvtAv1EncApp

intelgadget
.vscode
.DS_Store
*.asv
opsnr.stt

/inputToBe